body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #3f51b5;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.profile-card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-emoji {
    font-size: 3rem;
    text-align: center;
}

.profile-info {
    text-align: center;
}

.profile-name {
    font-size: 48px;
    font-weight: bold;
}

.profile-country,
.profile-bio,
.profile-category{
    font-size: 24px;
}
.search-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.search-bar {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}

.search-bar:focus {
    border: 2px solid #3f51b5;
}

.search-result {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%; /* Add this line */
}

.search-result:hover {
    background-color: #e6e6e6;
}

.message-status{
    color: #52ff52;
}

.message-bar{
    width: 20%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

.message-bar:focus{
    background-color: #efefef;
}

.send-message-btn{
    background-color: #4892ee;
    width: 8%;
    color: whitesmoke;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
}

.send-message-btn:hover{
    background-color: #99c8ff;
}

.posts{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 25%;
}

.post h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.post p {
    margin-bottom: 0;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #777;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.like-btn,
.bookmark-btn {
    background-color: #1e90ff;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.like-btn:hover,
.bookmark-btn:hover {
    background-color: #64a3ff;
}

