@import '../../../util/css/base.css';
@import '../../../util/css/gameinvite.css';

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto 0;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 60vh;
    height: 60vh;
}

.tile {
    display: flex;
    background-color: #DDB892;
    border: 1px solid #8B4513;
    align-items: center;
    justify-content: center;
}

.tile:nth-child(even) {
    background-color: #CD853F;
}

img{
    width: 50px;
    height: auto;
}

.friends-panel {
    background-color: #E6BD92;
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
    margin: 20px auto;
    transition: all 0.2s ease;
}

.friends-panel:hover {
    transform: translateY(-5px);
}

.friends-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: none;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.friends-list {
    border: none;
    height: 300px;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #F5DEB3;
    overflow-x: hidden;
}

.friend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #E0E0E0;
    transition: all 0.2s ease;
}

.friend-item:hover {
    background-color: #F0D5B5;
    transform: scale(1.02);
}

.invite-btn {
    padding: 10px 20px;
    background-color: #BF7F50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.invite-btn:hover {
    background-color: #A4683C;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.friends-search {
    box-sizing: border-box;
}
.piece {
    font-size: 3rem;
}

@media (max-width: 1200px) {

    img{
        width: 40px;
        height: auto;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 800px) {
    .chess-board {
        width: 90vw;
        height: 90vw;
    }
}

@media (max-width: 550px) {

    .chess-board {
        width: 100vw;
        height: 130vw;
    }

    img{
        width: 32px;
        height: auto;
    }


    .tile {
        font-size: 2.2rem;
    }

    .friends-panel, .friends-search {
        width: 90vw;
        margin: 10px auto;
    }
}

@media (max-width: 500px) {

    .friends-panel, .friends-search {
        width: 60vw;
        margin: 10px auto;
    }
}