.chat-app {
    display: flex;
    height: 100vh;
}

.inbox-panel {
    background-color: var(--inbox-panel-bg);
    width: 40%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 1000;
    padding: 1rem;
    box-sizing: border-box;
    display: none;
    box-shadow: -6px 0 12px var(--shadow);
}

.inbox-search {
    width: 100%;
    padding:  0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: var(--inbox-search-bg);
    box-shadow: 0 2px 4px var(--shadow);
    transition: all 0.3s ease;
}

.inbox-search:focus {
    box-shadow: 0 0 5px var(--highlight-color), 0 2px 4px var(--shadow);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7000;
}

.inbox-item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--inbox-panel-bg);
    cursor: pointer;
    box-shadow: 0 2px 4px var(--shadow);
    transition: all 0.3s ease;
}

.inbox-item:hover {
    box-shadow: 0 4px 8px var(--shadow);
    transform: translateY(-2px);
}

.inbox-user {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--detail-color);
}

.inbox-last-message {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.inbox-timestamp {
    font-size: 0.8rem;
    color: #aaa;
}

.inbox-last-message,
.message-log-username,
.message {
    color: var(--text-color);
}

.inbox-timestamp,
.message-time{
    color: var(--dark-text-color);
}


.message-log {
    display: none;
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background);
    box-shadow: -6px 0 12px var(--shadow);
}

.message-log-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.back-btn {
    color: #f0f0f0;
    border: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.back-btn:hover {
    box-shadow: 0 2px 4px var(--shadow);
    transform: translateY(-2px);
}

body.no-scroll {
    overflow-y: hidden;
}

.message-log-username {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
}

.message-log-content {
    flex-grow: 1;
    max-height: 700px;
    padding: 1rem;
    overflow-y: auto;
    background-color: var(--background);
    box-sizing: border-box;
}

.message {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--text-color);
    border: none;
}

.message-content {
    display: inline-block;
    padding: 8px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 2px 4px var(--shadow);
    max-width: 60%;
}

.message-time {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8rem;
    color: rgba(232, 232, 232, 0.5);
}

.message.sent {
    text-align: right;
}

.message.received {
    text-align: left;
}

.message.sent .message-content{
    background-color: var(--highlight-color);
}

.message.received .message-content{
    background-color: #a8a8a8;
}

.message.sent,
.message.received {
    margin-bottom: 10px;
}

.message-log-input {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid var(--border-color);
    background-color: var(--background);
    position: relative;
}

.inbox-message-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    background-color: var(--input-bg);
    color: var(--text-color);
    box-shadow: 0 2px 4px var(--shadow);
    transition: all 0.3s ease;
}


.inbox-message-input:focus {
    border: none;
    box-shadow: 0 0 5px var(--highlight-color), 0 2px 4px var(--shadow);
}

.send-message-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.send-message-btn:hover {
    background-color: var(--btn-hover);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.send-message-btn:active {
    background-color: var(--btn-focus);
    box-shadow: none;
    transform: translateY(0);
}

.back-btn,
.send-message-btn {
    background-color: var(--btn-color);
}

.inbox-manage{
    display: flex;
    margin-bottom: 10px;
}

.add-inbox{
    display: inline-block;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 8px;
    background-color: var(--header-btn);
    outline: transparent;
    border: none;
    box-shadow: 0 2px 4px var(--shadow);
    transition: all 0.2s ease;
    cursor: pointer;
}

.add-inbox:hover {
    color: #0080ff;
    box-shadow: 0 4px 8px var(--shadow);
    transform: translateY(-2px);
}

.add-inbox:active {

    box-shadow: none;
    transform: translateY(0);
}