.settings-card {
    color: var(--text-color);
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    width: 60%;
    min-height: 500px;
    margin: 0 auto;
}

.settings {
    padding: 2rem;
}

.settings-title {
    color: var(--post-title-color);
    margin-left: 20%;
    font-size: 2rem;
    font-weight: bold;
}

.settings-subtitle {
    margin-left: 20%;
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 2rem;
}

.settings-card {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
}

.settings-options {
    padding: 2rem;
    border-right: 1px solid gray;
}

.settings-options button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

.settings-option {
    cursor: pointer;
    margin-bottom: 1rem;
}

.selected-option {
    font-weight: bold;
}

.settings-content {
    padding: 2rem;
    flex-grow: 1;
}

.settings-content h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1rem;
    flex: 0 0 48%;
    max-width: 300px;
}

.input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    background-color: var(--post-search-bg);
    color: var(--text-color);
    box-shadow: 0 2px 4px var(--shadow);
    transition: 0.3s ease;
}

.input-group input:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px var(--shadow);
}

.input-group input:focus {
    box-shadow: 0 0 5px var(--highlight-color), 0 2px 4px var(--shadow);
    color: var(--post-text-color);
    outline: none;
}

.account-content {
    display: flex;
    justify-content: space-between;
}

.profile-info {
    flex: 1;
    margin-right: 2rem;
}

.input-fields {
    flex: 2;
}

.profile-emoji{
    cursor: pointer;
    transition: 0.3s ease;
}

.profile-emoji:hover, .save-btn-settings:hover, .cancel-btn-settings:hover{
    box-shadow: 0 4px 8px var(--shadow);
    transform: translateY(-2px);
}

.profile-emoji:active, .save-btn-settings:active, .cancel-btn-settings:active {
    box-shadow: none;
    transform: translateY(0);
}

.theme-switch-settings {
    display: flex;
    gap: 10px;
}

.save-btn-settings,
.cancel-btn-settings{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    color: #f0f0f0;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.cancel-btn-settings{
    background-color: #fa688a;
    margin-right: 10px;
}

.save-btn-settings{
    background-color: #00D26A;
}

@media (max-width: 900px) {
    .settings-card {
        width: 90%;
    }

    .settings,
    .settings-title,
    .settings-subtitle {
        margin-left: 0;
    }

    .input-group {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .account-content {
        display: block;
    }

    .profile-info {
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .input-fields {
        margin-top: 2rem;
    }

    .settings-options {
        padding: 0.2rem;
        border-right: 1px solid gray;
    }
}