@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import '../../util/css/post.css';
@import "../../util/css/base.css";
@import "../../util/css/profile.css";


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.search-bar {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: 0.3s ease;
}

.search-bar:hover {
    background-color: #fdfdfd;
    transform: translateY(-2px);
}

.search-bar:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    outline: none;
}

.search-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.search-result {
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    width: 70%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito Sans', sans-serif;
}

.search-result:hover {
    background-color: #eef1ff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.search-result h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1e90ff;
}

.search-result p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #333;
    font-weight: 400;
}

.post-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.posts {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.post {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem;
    width: 250px;
    transition: all 0.3s ease;
}
