body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.hidden{
    display: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #1e90ff;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #64a3ff;
}

header {
    background-color: #f0f0f0;
    padding: 0 10%;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: inline-block;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

nav a:hover {
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

nav a:active {
    background-color: #1e90ff;
    box-shadow: none;
    transform: translateY(0);
}

.logo {
    color: #333;
    font-size: 2.5rem;
    transition: 0.3s;
    text-decoration: none;
}

.logo:hover {
    color: #1e90ff;
}

.dashboard-btn:hover{
    background-color: #fd8d8d;
}

.login-btn:hover{
    background-color: #f3e8a6;
}

.signup-btn:hover{
    background-color: #8cc1f6;
}

.profile-btn:hover{
    background-color: #eae07a;
}

.inbox-btn:hover{
    background-color: #d3d3d3;
}

.search-btn:hover{
    background-color: #6477e5;
}

.slide-message {
    visibility: hidden;
    min-width: 250px;
    padding: 16px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    background-color: #00b894;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.slide-message.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.slide-message.hide {
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}