@import "var.css";

.post:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.post h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    color: var(--post-title-color);
}

.post p {
    word-break: break-word;
    margin-bottom: 0;
    font-size: 1rem;
    color: var(--post-text-color);
    line-height: 1.5;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--post-meta-color);
}

.post-meta .date {
    font-weight: bold;
    color: var(--post-meta-date-color);
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.post-stats {
    font-size: 0.9rem;
    color: var(--post-meta-color);
}

.like-count {
    margin-left: 0.4rem;
    font-weight: bold;
}

.category {
    font-weight: bold;
    color: var(--post-text-color);
}

.author {
    color: var(--post-title-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.author:hover {
    color: var(--post-highlight-color);
    text-shadow: var(--post-highlight-text-shadow);
}

.like-btn,
.bookmark-btn {
    border: none;
    background-color: var(--detail-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.like-btn:hover,
.bookmark-btn:hover {
    background-color: #64a3ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.like-btn:active,
.bookmark-btn:active {
    background-color: var(--detail-color);
    box-shadow: none;
    transform: translateY(0);
}

.comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.comment-field {
    flex-grow: 1;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--input-bg);
    color: var(--text-color);
}

.comment-field:focus {
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-btn {
    border: none;
    background-color: var(--detail-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-btn:hover {
    filter: brightness(110%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.see-comments-container {
    font-size: 0.9rem;
    color: var(--detail-color);
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.see-comments-container:hover {
    color: #64a3ff;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(100, 163, 255, 0.5);
}

.comments {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 1rem;
}

.comment {
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.comment:last-child {
    border-bottom: none;
}

.comment-author {
    font-weight: bold;
    margin-right: 0.5rem;
    color: var(--post-meta-color);
    transition: 0.3s ease;
}

.comment-text {
    color: var(--post-text-color);
    margin-top: 0.5rem;
    line-height: 1.5;
}


.comment-author:hover{
    color: var(--detail-color);
}


.comment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25rem;
}

.comment-time {
    color: #888;
    font-size: 0.8rem;
    opacity: 0.7;
}

.page-number-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-number-container > div {
    font-family: 'Roboto', sans-serif;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    transition: all 0.3s ease;
}

.page-number-container > div:hover {
    background-color: #d0d0d0;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}