@import "var.css";

.profile-card {
    background-color: var(--background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.profile-emoji {
    font-size: 5rem;
    margin-bottom: 15px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--emoji);
    box-shadow: 0 4px 6px var(--shadow);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.profile-name {
    font-size: 48px;
    font-weight: bold;
    color: var(--detail-color);
}

@media (max-width: 1000px) {
    .profile-name{
        font-size: 30px;
    }
}

.profile-country,
.profile-bio,
.profile-category{
    font-size: 24px;
}

.profile-country{
    color: var(--post-title-color);
}


.profile-bio {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--text-color);
}

.profile-category {
    background-color: var(--detail-color);;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.followers-count{
    color: var(--post-highlight-color);
}

.following-count{
    color: var(--post-meta-color);
}

.message-bar {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: var(--input-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-bar:focus {
    background-color: var(--input-bg);
    box-shadow: 0 0 5px var(--highlight-color), 0 4px 8px var(--shadow);
    transform: translateY(-2px);
}

.send-message-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-color);
    width: 100%;
    color: var(--text-color);
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow);
}

.send-message-btn::before {
    content: "✉️";
    margin-right: 0.5rem;
}

.send-message-btn:hover {
    background-color: var(--btn-hover);
    box-shadow: 0 6px 10px var(--shadow);
    transform: translateY(-2px);
}

.send-message-btn:active {
    background-color: var(--btn-focus);
    box-shadow: none;
    transform: translateY(0);
}

.followers-following {
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
}

.follow-btn {
    background-color: var(--detail-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0 2px 4px var(--shadow);
    margin-bottom: 20px;
}

.follow-btn:hover {
    background-color: var(--detail-color);
    box-shadow: 0 4px 8px var(--shadow);
    transform: translateY(-2px);
}

.follow-btn:active {
    background-color: var(--detail-color);
    box-shadow: none;
    transform: translateY(0);
}